#_timeline {
    position: fixed;
    top: 0px;
    background: lightgrey;
    height: 50px;
    left: 0px;
    width: 100%;
}

#timeline {
    position:relative;
    top: 20%;
    width: 80%;
    vertical-align:middle;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: lightgrey;
    height: 20px;
    padding-bottom: 15px;
    left: 0px;
}

#_map {
    position:absolute;
    top: 50px;
    left:0px;
    width:80%;
    height:calc(100% - 50px);
}

#map {
    width:100%;
    height:100%;
}

#_ipane {
    position: absolute;
    top:50px;
    left:80%;
    width:calc(20% - 5px);
    height:calc(100% - 50px);
    background: #dedede;
}

#_ipane > *:not(hr) {
    position: relative;
    left:5px;
    top:5px;
}

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.help {
    cursor: help !important;
}

.hide {
    visibility: hidden;
}

.hasErr {
    border: 1px solid red;
    color: red;
}

#_view {
    text-align: center;
}

.inter {
    margin-left: 3px;
    margin-right: 5px;
}

#vloc {
    font-style: italic;
}

.large {
    font-size: 1.5em;
    word-wrap: break-word;
}

#edit {
  position: absolute;;
  right: 15px;
  z-index: 100;
}

#edit:hover {
  border: 1px ridge grey;
  padding: 3px;
}

.tdat {
  width: 50px;
}
